{% extends 'blog/base.html' %}
{% load static %}

{% block content %}

<div class="col-sm-10">
    <h3 class="text-white my-5"> About Page</h3>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nostrum nemo, rem eum animi sed, dolor quasi beatae, magnam officiis mollitia in. Ipsam porro explicabo atque. Praesentium vel iure dolore pariatur?</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rerum animi rem voluptas eius. Omnis fugit suscipit, sequi optio atque ratione consequatur eveniet tempore, quo minus neque, expedita animi voluptas ea voluptatibus quas aliquid natus quaerat deserunt. Molestias facilis modi quod fugit corrupti velit labore, officia id autem nobis. Odio, veniam.</p>
  

</div>

{% endblock content %}