{% extends 'blog/base.html' %}
{% load static %}

{% block content %}

<div class="col-sm-10">
    <h3 class="text-white mt-5"> Contact Page</h3>
    <form action="">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputname">Name</label>
                <input type="text" class="form-control" id="inputname">
            </div>
            <div class="form-group col-md-6">
                <label for="inputEmail">Email</label>
                <input type="email" class="form-control" id="inputEamil">
            </div>
            <div class="form-group col-md-6">
                <label for="inputAddress">Address</label>
                <input type="text" class="form-control" id="inputAddress">
            </div>
            <div class="form-group col-md-6">
                <label for="message">Message</label>
                <textarea type="text" class="form-control" id="message" rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-secondary">Send</button>
        </div>

    </form>

</div>

{% endblock content %}